body {
    margin:0;
    padding:0;
    margin-top:25px;
    background-color:whitesmoke;
    color:black;
    text-shadow:1px 2px 14px blue;
    }

  .controls {
      margin:auto;
      width:80%;  
      text-align:center;  
  }
  button {
    font-size:calc(2vw);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-style: oblique;
    background-color:transparent;
    border-color:black;
    border-radius:1000px;
    border-style:solid;
    border-width:1px; 
    height:20%;
    width:20%;
    cursor:pointer;
    color:black;
    box-shadow:1px 6px 8px black;
  }
  p{
      font-family: 'Courier New', Courier, monospace;
  }
  video{
    position:absolute;
    z-index:-1;
  }

  #user-state {
    color:red;
  }

  h1 {
    padding:0;
    margin:0;
    font-style: italic;
    font-size: 10vw;
  }