body {
  background-color:lightgrey;
  color:black; 
  margin:0;
  padding:0;
}

#main {
  display:none;
  width:100vw;
  height:100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style:solid;
  border-radius:25px;
  border-width: 1px;
  width:400px;
  box-shadow: 2px 4px 15px black;
}

#text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family:times;
  transform: scale(2.5, 1.2);
  text-shadow: 2px 2px 8px black;
  margin-top:0;
  margin-bottom:15px;
  font-size: 13px;
}

p {
  margin:18px;  
  margin-top:0px;
  margin-bottom:0px;
  text-align: center;
  font-family:times;
}

img {
  filter: grayscale(0);
  border-radius:15px;
  width:90%;
  border-style:solid;
  border-width:1px;
  box-shadow: 1px 2px 8px black;
}

#echoValue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

#qrcode {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:10px;
  margin-bottom:10px;
}

.donna {
  background-color: red;
}

.buttonText {
  font-size: 15px;
  cursor:pointer;
  font-style:oblique;
  border-style:solid;
  width:65px;
  text-align: center;
  border-width:1px;
  border-radius:25px;
  color:black;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.outlined {
  cursor: pointer;
  background-color: transparent;
  border-style:solid;
  width:65px;
  text-align: center;
  border-width:1px;
  border-radius:25px;
  border-color:black;
  color:black;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.buttonText:hover {
  background-color:lightgrey;
  color:blue;
}

input[type="text"] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 25px;
  border-style:solid;
  border-width:1px;
  text-align: center;
  margin-top:24px;
  border-color:black;
  width:80%;
  background-color: transparent;
  /* no highlight on focus */
  outline: none;
}

.roomText {
  text-align: center;
  padding-top:5px; 
  margin-top:5px;
  font-size: 15px;
  cursor:pointer;
  font-style:oblique;
  border-style:solid;
  border-width: 1px;
  height:50px;
  border-width:1px;
  border-radius:25px;
  color:black;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.outlined:hover {
  background-color:lightgrey;
  color:blue;
}

.user-state {
  color:blue;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  background-color: transparent;
  border: solid;
  border-color: black;
  cursor: pointer;
  border-width:1px;
  height: 30px;
  border-radius: 25px;
}

input[type="range"]:focus {
  outline: none;
}

/***** track style *****/
input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
  height: 1rem;
  border-radius: 15px;
}
/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: transparent;
  height: 1rem;
  border-radius: 15px;
}

details {
  margin-bottom:10px;
  border-radius:25px;
  border-style:solid;
  border-width:1px;
  padding:10px;
  width:90%;
  background-color:transparent;
  transition: .5s;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
  height: 1rem;
  border-radius: 15px;
}

/******** Firefox ********/
input[type="range"]::-moz-range-track {
  background: transparent;
  height: 1rem;
  border-radius: 5px;
}
/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -0px; /* Centers thumb on the track */
  background-color: lightgrey;
  border-radius: 10px;
  border-style:solid;
  border-color:black;
  border-width:1px;
  box-shadow: 1px 2px 8px black;
  cursor: pointer;
  height: 1rem;
  width: 1rem;
}

#joinRoom {
  margin-top:8px;
  display:block;
  width:55px;
}

#leaveRoom {
  display:none;
  width:85px;
}